html , body{
    margin:0;
    font-family: Arial, sans-serif;
    min-width: 900px;
    line-height: 14px;
    font-size: 14px;


}

*
{
    box-sizing: border-box;
}

header
{
    background-color: #232f3e;
    height: 99px;
}
.nav-left
{
    position: relative;
    float: left;
    width: auto;
    display: block;
}.nav-right
{
    position: relative;
    float: right;
    width: auto;
    display: block;
}
.nav-fill
{
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}
#nav-logo
{
    padding: 11px 18px 0px 0px;
    position: relative;
    width: 192px;
}

#nav-logo .nav-logo-link img
{
    background: transparent no-repeat top ;
    background-size: 102px;
    width: 192px;
    height: 32px;
    display: block;
}

#nav-logo .nav-logo-tagline
{
    color: #48a3c6;
    position: absolute;
    top: 31px;
    left: 90px;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
}

#nav-logo .nav-logo-tagline:hover
{
    color: #ffffff;
}
#nav-holiday
{
    top: 9px;
    float: right;
    position: relative;
    width: 400px;
    height: 39px;
}